body{       
    background-color: #efefef;
}
.body-one{
     font-size:90%; 
     line-height: 1em;
     max-width: 900px;
     min-width: 400px;
     width: 770px;
     border-radius: 4px;
     margin: 10px auto;
     color:#2b2b2b;
     background-color: #ffffff;
     font-family: Courier New, Courier, monospace;
     letter-spacing: 0.1em;
     border: 4px double #1f1f1f;
}
.box-width{
     margin: 10px auto;
     /*font-size: 80%;*/
     width: 500px;
}
img{
    border-radius: 4px;
    margin: 10px auto;
    width: 500px;
}
.center{
    text-align: center;
}
.border-double-small{
    padding: 20px;
    border-radius: 2px;
    border: 2px solid #cccccc;
}
.box-width-small{
    width: 360px;
    margin: 10px auto;
}
span.home{
    color:#c90000;
}
.navigation-bar{
    border-radius: 2px;
    font-family: Courier New, Courier, monospace ;
    margin: 0px;
    letter-spacing: 0.1em;
    word-spacing: 20px;
    border-width: 2px 0px 1px 0px;
    border-style: solid none solid none;
    border-color:#000000 none #1f1f1f none;
    color: #1f1f1f;
}
.logo h1 {
    height: 350px;
    background-image: url("../images/logo-gmail.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center top;
    text-indent: -20000px;
}
div img{
    width: inherit;
}
.letter-spacing{
    letter-spacing: 1px;
}
.center{
    text-align: center;
}
a:link{
    color: #2b2b2b;
}
a{
    text-decoration: none;
}
li {
    list-style-position: inside;
    display: inline;
}