body{
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 130%;
}
table{
    padding-top: 400px;
    padding-left: 47px;
    margin: inherit;
}
.blank  {
    background-color: black
}
.hydrogen {
    background-color: #00b6bc;
}
.helium, .neon, .ar, .kr, .xe, .rn{
    background-color: #338f90;
}
.lithium, .na, .k, .rb, .cs, .fr{
    background-color: #1b67c9;
}
.carbon,.nitrogen, .oxygen, .p, .s, .se{
    background-color: #00b6bc;
}
.berilium, .mg, .ca, .sr, .ba, .ra{
    background-color: #a1669e;
}
.sc, .y, .tione, .zr, .hf, .rf, .v, .nb, .ta, .db, .cr, .mo, .w, .sg, .mn, .tc, .re, .bh,
.fe, .ru, .os, .hs, .co, .rh, .ir, .mt, .ni, .pd, .pt, .ds, .cu, .ag, .au, .rg, .zn, .cd,
.hg, .cn{
    background-color: #f53951;
}
